$white: #fbfafb;
$soft-white: #eeeaf2;
$purple: #2a0646;
$soft-purple: #aa84c8;
$action: #eecc75;
$action-rgb: 238 204 117;
$aventure: #cad297;
$comedy: #a2eee5;
$romance: #f09d9d;
$music: #b7eac5;
$drama: #8ea2ea;

body {
	background-color: $white;
	color: $purple;
}

p {
	color: $purple;
}

a {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
blockquote,
i,
b,
u,
em {
	color: inherit;
}

form,
input,
textarea,
select,
button,
label {
	background-color: transparent;
	color: inherit;
}

/*
    Configuramos el texto que seleccionamos
    * Cambiar variables
*/
// ::selection {
//     background-color: var(--primary-color);
//     color: var(--secondary-color);
// }
